In [1]:
! pip install bar-chart-race

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bar-chart-race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 156.8/156.8 KB 8.3 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.8/dist-packages (from bar-chart-race) (3.2.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.8/dist-packages (from bar-chart-race) (1.3.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->bar-chart-race) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->bar-chart-race) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->bar-chart-race) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->bar-chart-race) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1->bar-chart-race) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24->bar-chart-race) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar-chart-race) (1.15.0)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [2]:
import bar_chart_race as bcr
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Data.csv')

In [ ]:
df.head()

In [4]:
df.rename(columns = {"Row Labels":"Date"}, inplace = True) #rename the first column named Row labels as the date

In [5]:
df.set_index('Date', inplace = True)

In [6]:
df.head()

,Antrim & Newtownabbey,Ards & North Down,Armagh City Banbridge & Craigavon,Belfast City,Causeway Coast & Glens,Derry City & Strabane,Fermanagh & Omagh,Lisburn & Castlereagh City,Mid & East Antrim,Mid Ulster,Newry Mourne & Down
Date,,,,,,,,,,,
2008,5004,4735,6257,18625,5427,5495,3163,3760,5025,3562,5339
2009,6788,5743,7089,23650,6808,7598,3634,4583,5998,4669,6283
2010,6252,5316,6331,22971,5832,7239,3428,4473,5583,4516,5585
2011,4753,4974,5335,19118,5140,5854,3095,3628,4751,3993,4399
2012,4501,5106,5619,19118,5669,6724,3360,3149,4211,3718,4458

In [7]:

bcr.bar_chart_race(
    df=df,
    filename='ASB_NI.mp4',
    orientation='h',
    sort='desc',
    n_bars=11,
    fixed_order=False,
    fixed_max=True,
    steps_per_period=10,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': f'Total ASB Count: {v.nlargest(6).sum():,.0f}',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    period_length=500,
    figsize=(5, 3),
    dpi=300,
    cmap='dark12',
    title='Antisocial Behaviour in Northern Ireland',
    title_size='',
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=False)

WARNING:matplotlib.font_manager:findfont: Font family ['Helvetica'] not found. Falling back to DejaVu Sans.
WARNING:matplotlib.font_manager:findfont: Font family ['Helvetica'] not found. Falling back to DejaVu Sans.
WARNING:matplotlib.font_manager:findfont: Font family ['Helvetica'] not found. Falling back to DejaVu Sans.
WARNING:matplotlib.font_manager:findfont: Font family ['Courier New'] not found. Falling back to DejaVu Sans.